<div class="checkout">
    <div class="container">
        <div class="alert  alert--red">
            <button class="alert__button" type="button"><i class="fa fa-close"></i></button>
            <p>Cijena je sa popustom</p>
        </div>

        <form class="form" action="" method="post">
            <h3 class="form__title">Proizvod: Zdrava hrana</h3>
            <div class="form__text">
                <p>Molimo Vas popunite sva polja!</p>
            </div>
            <div class="form__group">
                <input class="input" type="text" name="name" placeholder="Ime">
            </div>
            <div class="form__group">
                <input class="input" type="email" name="email" placeholder="E-mail">
            </div>
            <div class="form__group">
                <input class="input" type="tel" name="tel" placeholder="Telefon">
            </div>
            <div class="form__group">
                <div class="select">
                    <select name="country">
                        <option value="0" selected disabled>Grad</option>
                        <option value="1">Sarajevo</option>
                        <option value="2">Zenica</option>
                        <option value="3">Mostar</option>
                        <option value="4">Tuzla</option>
                    </select>
                </div>
            </div>
            <div class="form__group">
                <input class="input" type="text" name="address" placeholder="Adresa">
            </div>
            <div class="form__group">
                <input class="input" type="text" name="zip" placeholder="ZIP">
            </div>
            <div class="form__group">
                <div class="select">
                    <select name="size">
                        <option value="0" selected disabled>Količina</option>
                        <option value="37">1</option>
                        <option value="38">2</option>
                        <option value="39">3</option>
                        <option value="40">4</option>
                        <option value="41">5</option>
                        <option value="42">6</option>
                    </select>
                </div>
            </div>
            <div class="row  form__footer">
                <div class="col-sm-6">
                    <div class="form__group">
                        Ukupno: KM
                    </div>
                </div>
                <div class="col-sm-6">
                    <button class="btn btn--o-yellow  btn--full" type="submit">Naruči</button>
                </div>
            </div>
            <p class="form__hint">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere dolore ipsam omnis asperiores assumenda magnam cum ducimus maxime officiis totam possimus minima, perferendis placeat rerum ad! Fuga commodi ea dolore!</p>
        </form>
    </div>
</div>
